ErrorDocument 404 /pages/404.php

Options +FollowSymLinks
RewriteEngine On


RewriteRule ^главная$ /index.php [L]
RewriteRule ^технология$ /pages/tehno.php [L]
RewriteRule ^дизайн$ /pages/design.php [L]
RewriteRule ^инженерия$ /pages/project.php [L]
RewriteRule ^портфолио$ /pages/portfolio.php [L]
RewriteRule ^СМР$ /pages/SMR.php [L]
RewriteRule ^контакты$ /pages/contact.php [L]

#  <Directory /var/www/html/citystroy.local/>
#        AllowOverride All
#    </Directory>