ErrorDocument 404 /pages/404.php

Options +FollowSymLinks
RewriteEngine On


RewriteRule ^главная$ /index.php [L]
RewriteRule ^технология$ /pages/tehno.php [L]
RewriteRule ^дизайн$ /pages/design.php [L]
RewriteRule ^инженерия$ /pages/project.php [L]
RewriteRule ^proekty$ /pages/portfolio.php [L]
RewriteRule ^СМР$ /pages/SMR.php [L]
RewriteRule ^контакты$ /pages/contact.php [L]

# Технические страницы
RewriteRule ^privacy-policy$ /pages/privacy-policy.php [L]
RewriteRule ^terms-of-service$ /pages/terms-of-service.php [L]
RewriteRule ^rekvizity$ /pages/rekvizity.php [L]
RewriteRule ^o-kompanii$ /pages/o-kompanii.php [L]
RewriteRule ^sertifikaty$ /pages/sertifikaty.php [L]
RewriteRule ^vakansii$ /pages/vakansii.php [L]
RewriteRule ^blog$ /pages/blog.php [L]
RewriteRule ^faq$ /pages/faq.php [L]
RewriteRule ^prices$ /pages/prices.php [L]
RewriteRule ^partners$ /pages/partners.php [L]
RewriteRule ^otzyvy$ /pages/otzyvy.php [L]
RewriteRule ^garantii$ /pages/garantii.php [L]

#Редиректы
Redirect 301 /портфолио /proekty
Redirect 301 /pages/case/il_&_geo.php /
Redirect 301 /assets/icon/que.svg /
Redirect 301 /assets/img/cart/ch/8.jpg /
Redirect 301 /assets/img/cart/ch/9.jpg /
Redirect 301 /case/youtube.com/watch?v=wTNcoZMLzFc&ab_channel=СИТИСТРОЙ /
Redirect 301 /assets/img/blue_logo_swiper/25.png /

#  <Directory /var/www/html/citystroy.local/>
#        AllowOverride All
#    </Directory>

# SEO редиректы
# Перенаправляет с зеркал где больше 1 слеша. /// (Вариант 1)
RewriteCond %{THE_REQUEST} //
RewriteRule .* /$0 [R=301,L]

# Редирект с HTTP на HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://city.codemastering.ru/$1 [R=301,L]

# Редирект с WWW на без WWW
RewriteCond %{HTTP_HOST} ^www\.city\.codemastering\.ru$ [NC]
RewriteRule ^(.*)$ https://city.codemastering.ru/$1 [R=301,L]

# Убираем index.php и index.html, но сохраняем конечный слэш (кроме главной)
RewriteCond %{REQUEST_URI} ^(.+/)?index\.(php|html)$ [NC]
RewriteRule ^(.+/)?index\.(php|html)$ https://%{HTTP_HOST}/$1 [R=301,L]